fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
alembic
slowapi
pydantic[email]
supabase
jira
cryptography
pydantic-settings
pytest
pytest-asyncio